<header>
  <nav>
    <ul>
      <li>{{link-to "Home" "index"}}</li>
      <li>{{link-to "Alpha" "alpha"}}</li>
      <li>{{link-to "Bravo" "bravo"}}</li>
      <li>{{link-to "Charlie" "charlie"}}</li>
    </ul>
  </nav>
</header>
<main tabindex="-1" id="ember-primary-application-outlet">
  {{outlet}}
</main>