<div tabindex="-1" class="ember-sr-only sr-only-focusable" id="nav-message">Navigation to {{this.currentURL}} is complete. You may now navigate as you wish.</div>
<header>
  <nav>
    {{link-to "Alpha" "alpha"}}
    {{link-to "Bravo" "bravo"}}
    {{link-to "Charlie" "charlie"}}
  </nav>
</header>
<main>
  {{outlet}}
</main>