<header>
<nav>
  {{link-to "Alpha" "alpha"}}
  {{link-to "Bravo" "bravo"}}
  {{link-to "Charlie" "charlie"}}
</nav>
</header>
<main>
  {{outlet}}
  <button onclick={{action 'click'}}>Click for Document Body Focus</button>
</main>