<header>
  <nav>
    {{link-to "Home" "index"}}
    {{link-to "Alpha" "alpha"}}
    {{link-to "Bravo" "bravo"}}
    {{link-to "Charlie" "charlie"}}
  </nav>
</header>
<main tabindex="-1" id="ember-primary-application-outlet">
  {{outlet}}
</main>